<section id="home">
    <div class="container-lg text-center bg-light mt-5 p-5">
        <!-- <img src="assets/WB-k3wB--621x414@LiveMint.jpg" alt="" class="img-fluid" > -->
        <h1 class="display-1">Welcome To The Bank Of Solan</h1>
        <p class="lead text-muted mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ipsum quo quis
            officiis provident obcaecati
            consequuntur praesentium voluptatem voluptates laborum consectetur saepe veritatis dolor reprehenderit
            fugiat, sed eos magnam maiores possimus ratione. Perferendis consectetur ratione delectus laborum quia
            voluptatum pariatur, similique molestiae, aspernatur veniam nemo excepturi quos corrupti. Illum aperiam
            optio eius ipsum, laboriosam veritatis libero corrupti harum ex! Perferendis, ipsa expedita! Iure provident
            porro dolores fuga harum ipsa culpa quasi tempore debitis vel? Reiciendis excepturi nostrum suscipit
            officiis optio! Beatae a aut architecto suscipit ut facere reprehenderit deserunt alias dicta explicabo
            asperiores laudantium quam quis, odit cum praesentium totam.</p>
    </div>
</section>
<footer>
    <div class="container-xlg bg-dark mt-5 text-white p-5 " style="width: 100%;">

        <p class="lead text-center">
            Copyright &copy; Aniket
        </p>
    </div>
</footer>