<section id="home">
    <div class="container-lg text-center mt-5 bg-light p-5">
        <h1 class="display-1">Welcome To The Bank Of Solan</h1>
        <p class="lead text-muted mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ipsum quo quis
            officiis provident obcaecati
            consequuntur praesentium voluptatem voluptates laborum consectetur saepe veritatis dolor reprehenderit
            fugiat, sed eos magnam maiores possimus ratione. Perferendis consectetur ratione delectus laborum quia
            voluptatum pariatur, similique molestiae, aspernatur veniam nemo excepturi quos corrupti. Illum aperiam
            optio eius ipsum, laboriosam veritatis libero corrupti harum ex! Perferendis, ipsa expedita! Iure provident
            porro dolores fuga harum ipsa culpa quasi tempore debitis vel? Reiciendis excepturi nostrum suscipit
            officiis optio! Beatae a aut architecto suscipit ut facere reprehenderit deserunt alias dicta explicabo
            asperiores laudantium quam quis, odit cum praesentium totam.</p>
    </div>
</section>
<footer>
    <div class="container-xlg bg-secondary mt-5 text-light p-5">

        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum laborum iusto quasi quo, cumque
            facilis. Sint pariatur accusamus aperiam a animi cum earum autem exercitationem harum, optio neque in
            minima. Pariatur et asperiores iusto! Ipsum qui impedit quasi nulla! Dolore cupiditate cum nam, autem
            numquam adipisci veritatis aperiam, deserunt temporibus hic vero ipsa omnis cumque. Culpa molestiae animi
            eum debitis possimus quaerat aperiam repellendus. Numquam cumque deleniti quas! Reiciendis asperiores
            quibusdam veritatis molestiae quam dolores accusantium alias id nobis delectus similique quas atque
            cupiditate voluptatibus enim laborum porro culpa veniam, est, voluptates exercitationem unde velit debitis
            assumenda! Fugit, ipsam.
        </p>
    </div>
</footer>