<div class="col-md-6 offset-md-3">
    <div class="container-lg">

        <h3 class="text-center display-3 m-3">Customers List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let c of customer">
                    <td>{{c.accountNumber}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.email}}</td>
                    <td>Rs. {{c.balance}}</td>
                    <td><button class="btn btn-outline-primary" (click)="updateCustomer(c.accountNumber)">Edit</button></td>
                    <td><button class="btn btn-outline-secondary" (click)="viewCustomer(c.accountNumber)">View</button></td>
                    <td><button class="btn btn-outline-danger" (click)="deleteCustomer(c.accountNumber)">
                            Disable</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>