<!-- <section id="staff">
    <div class="container-lg text-enter m-5 bg-light p-5 ">

        <div class="card justify-content-center border border-0 bg-light">

            <div class="card-body  text-center">
                <a class="btn btn-outline-danger btn-lg " routerLink="/createCustomerAccount">Create Customer's
                    account</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/customerList">All Customers List</a><br>


                <a class="btn btn-outline-success btn-lg mt-3" routerLink="/deposite">Deposite Into Customer's
                    Account</a>
                <a class="btn btn-outline-danger btn-lg mt-3 ms-3" routerLink="/withdraw">Withdraw From Customer's
                    Account</a><br>
                <a href="" class="btn btn-outline-danger btn-lg mt-3" routerLink="/viewSingleCustomerDetails">Single
                    Customer Details</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/balance">Check Customer's Balance</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/transactionDetails">Customer's Transactions
                    Detail</a><br>

            </div>

        </div>

    </div>
</section> -->
<div class="container-xlg bg-light m-5 p-5">
    <div class="row mb-2">
        <div class="col col-sm-3">
            <div class="card border border-0" id="allCustomerList" routerLink="/createCustomerAccount">
                <div class="card-body text-center">
                    <img src="assets/noun-person-831907.png" alt="img" class="img-fluid" style="position:relative">

                </div>
                <a class="btn btn-danger btn " >Create Customer's
                    account</a>
            </div>
        </div>

        <div class="col col-sm-3" id="allCustomerList" routerLink="/customerList">
            <div class="card border border-0" >
                <div class="card-body text-center">
                    <img src="assets/noun-customer-list-6241568.png" alt="img" class="img-fluid" style="position:relative">

                </div>
                <a class="btn btn-danger btn" >All Customers List</a>
            </div>
        </div>

        <div class="col col-sm-3" id="allCustomerList" routerLink="/deposite">
            <div class="card border border-0">
                <div class="card-body text-center">
                    <img src="assets/noun-money-deposit-3614379.png" alt="img" class="img-fluid" style="position:relative">

                </div>
                <a class="btn btn-success" >Deposite Into Customer's
                    Account</a>
            </div>
        </div>

        <div class="col col-sm-3" id="allCustomerList" routerLink="/withdraw">
            <div class="card border border-0">
                <div class="card-body text-center">
                    <img src="assets/noun-withdraw-money-3039381.png" alt="img" class="img-fluid" style="position:relative">

                </div>
                <a class="btn btn-danger" >Withdraw From Customer's
                    Account</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        

        <div class="col col-sm-3 text-center" id="allCustomerList" routerLink="/viewSingleCustomerDetails">
            <div class="card border border-0">
                <div class="card-body text-center">
                    <img src="assets/personal-information.png" alt="img" class="img-fluid" style="position:relative">

                </div>

            </div>
            <a href="" class="btn btn-danger" >Single
                Customer Details</a>
        </div>

        <div class="col col-sm-3 text-center" id="allCustomerList" routerLink="/balance">
            <div class="card border border-0">
                <div class="card-body text-center">
                    <img src="assets/noun-check-balance-2777359.png" alt="img" class="img-fluid" style="position:relative">

                </div>

            </div>
            <a class="btn btn-danger" >Check Customer's Balance</a><br>
        </div>

        <div class="col col-sm-3 text-center" id="allCustomerList" routerLink="/transactionDetails">
            <div class="card border border-0">
                <div class="card-body text-center">
                    <img src="assets/noun-online-receipt-4193374.png" alt="img" class="img-fluid" style="position:relative">

                </div>

            </div>
            <a class="btn btn-danger" >Customer's Transactions
                Detail</a>
        </div>
    </div>
</div>