<section id="staff">
    <div class="container-lg text-enter m-5 bg-light p-5 ">

        <div class="card justify-content-center border border-0 bg-light">

            <div class="card-body  text-center">
                <a class="btn btn-outline-danger btn-lg " routerLink="/createCustomerAccount">Create Customer's
                    account</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/customerList">All Customers List</a><br>
                

                <a class="btn btn-outline-success btn-lg mt-3" routerLink="/deposite">Deposite Into Customer's
                    Account</a>
                <a class="btn btn-outline-danger btn-lg mt-3 ms-3" routerLink="/withdraw">Withdraw From Customer's
                    Account</a><br>
                  <a href=""  class="btn btn-outline-danger btn-lg mt-3" routerLink="/viewSingleCustomerDetails">Single Customer Details</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/balance">Check Customer's Balance</a><br>
                <a class="btn btn-outline-danger btn-lg mt-3" routerLink="/transactionDetails">Customer's Transactions Detail</a><br>

            </div>

        </div>

    </div>
</section>